<a href="https://colab.research.google.com/github/meldokter/PLN-for-Social-Sciences/blob/labs/Intro_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Cabeçalho**

Aluno 1  - Anna Thiemy Takata - 12507838 - Graduação - Vespertino

Aluno 2 - Mel Dokter Palomo - 12507543 - Graduação - Vespertino

# Introdução ao básico de Python

Não é um requisito desta disciplina ter conhecimento prévio de linguagens de programação (R, Python, etc.). No entanto, iremos introduzir gradualmente ao aluno o Python, que será a base para os códigos deste curso. Nas próximas aulas, veremos o que é o Python, por que utilizamos ele (e não o R, por exemplo),e suas vantagens e desvantagens. Ao longo do curso, optamos também por utilizar a IDE (Ambiente de desenvolvimento integrado) disponibilizada pelo google, Google Colab, e que nos permite ensinar a linguagem sem necessitar de instalações extras, facilitando todo o processo. Se os alunos demonstrarem interesse, podemos disponibilizar tutoriais de como instalar o Python em seus computadores pessoais e as principais IDEs.

### 1. Familiarização com o Google Colab

Antes mesmo de começarmos a programar, um exercício importante para qualquer linguagem e IDE é o de explorar a ferramenta. Clique nas abas e botões e descubra quais opções são disponibilizadas pela IDE

### 2. Comentários e Texto Markdown

Em python, você pode escrever texto que não é código de duas maneiras: com comentários em células de código e com células markdown. Tente rodar a célula de código abaixo, o que acontece?

In [ ]:
 #print('hello world')

hello world

Sempre que quiser escrever alguma coisa que não necessariamente deseja rodar ou que não é código, utilize comentários. Uma utilidade adicional muito importante dos comentários é a descrição do que a linha de código está fazendo, ou um sumário de uma célula de código inteira. ***Um bom uso dos comentários e de texto markdown facilita tanto a vida do futuro você quanto de outras pessoas que lerão o seu código. Utilize sempre que possível!***

Para comentar/descomentar múltiplas linhas de código de uma vez, você pode utilizar "Ctrl" + "/" no Colab. Tente descomentar as linhas de códigos a seguir

In [ ]:
# Isso aqui é código
# a
# b
# c
# d
# e
# f
# g
# h

### 3. Comando "Print"

O comando "print" é um dos mais básicos do Python, mas também um dos mais importantes e utilizados. O comando imprime qualquer coisa que desejar, desde texto simples (e.g. "Olá Mundo"), até variáveis, resultados de cálculos, etc. Leia mais sobre o comando na [documentação](https://docs.python.org/pt-br/3/library/functions.html?highlight=print#print) do Python. Nas próximas subseções, exploraremos alguma das possibilidades do comando.

In [ ]:
# Imprimindo (Printing) uma string

print('Olá, mundo!')

Esse é o exemplo mais clássico da função deste comando. Uma string nada mais é do que uma sequência de texto, que está encapsulada em aspas (tanto aspas simples quanto dupla). O python identificará automaticamente que quaisquer caracteres entre aspas é uma string.

In [ ]:
print('Texto em aspas simples')

In [ ]:
print('Texto em aspas duplas')

Se quiser imprimir aspas dentro de uma string, você pode fazer de duas maneiras:

In [ ]:
# a. Aspas duplas no total da string e aspas simples dentro da string

print("Aqui está uma 'aspa' dentro da string")

# b. Aspas duplas com duas barras

print("Texto com duas \"Aspas\" duplas")

Você pode imprimir números diretamente:

In [ ]:
print(123456)

Pode imprimir os valores de uma variável:

In [ ]:
x = 5

print(x)

Para quebrar linhas dentro de um print, você pode utilizar o "\n"

In [ ]:
print("Quero meu texto \n dividido")

Quero meu texto
 dividido

O print ainda tem algumas funções extras que podem vir a calhar

*SEP*

In [ ]:
# "sep" permite separar diversas strings com algum padrão

print("Olá", "Mundo", "Isso", "Aqui", "É", "Doido", sep = "...")

Observe que a vírgula separando cada uma das string faz com que tenhamos 6 strings ao invés de uma única. A opção "end" permite que você defina o que irá separar dois prints seguidos. O padrão é uma quebra de linha

*END*

In [ ]:
print("Olá", end = ',')
print(' Mundo!')

In [ ]:
print("Olá,")
print("Mundo")

#### Exercícios

1 - Vamos começar com algo básico: escreva uma célula de código que imprima "Olá, [seu nome]"

In [ ]:
# Seu código vai aqui
print("Olá, Mel")

Olá, Mel

2 - Imprima a seguinte soma:

In [ ]:
soma = 7+9
print(7+9)

16

3 - Imprima os números de 1 a 10, cada um em uma linha diferente

In [ ]:
# Seu código vai aqui
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

1
2
3
4
5
6
7
8
9
10

4 - Qual o problema com o seguinte código?

In [ ]:
print("A comida do restaurante estava 'deliciosa' hoje.")

### 4. Comando "Input"

O comando "input" em Python é usado para solicitar dados de entrada do usuário durante a execução do programa. Ele permite que o programa interaja com o usuário, recebendo valores digitados pelo teclado e armazenando-os em variáveis para posterior uso. A sintaxe básica do comando "input" é a seguinte:

In [ ]:
nome_da_variavel = input("Mensagem para o usuário: ")

A função "input" recebe uma mensagem opcional (entre as aspas) que será exibida ao usuário para solicitar a entrada de dados. O valor digitado pelo usuário é armazenado na variável "nome_da_variavel". Aqui está um exemplo simples para solicitar o nome do usuário e exibi-lo na tela:

In [ ]:
# Solicitando o nome do usuário
nome = input("Digite o seu nome: ")

# Exibindo o nome na tela
print("Olá, " + nome + "! Bem-vindo ao nosso programa.")

Neste exemplo, a mensagem "Digite o seu nome:" é exibida ao usuário, e o valor digitado por ele é armazenado na variável "nome". Em seguida, o programa utiliza o comando "print" para exibir uma mensagem de boas-vindas contendo o nome informado.

Lembre-se que o valor digitado pelo usuário é sempre tratado como uma string (texto). Caso deseje utilizar o valor como outro tipo de dado, é necessário realizar a conversão adequada, como por exemplo, usando as funções "int()" ou "float()" para números inteiros ou de ponto flutuante, respectivamente.

Exemplo 1: Conversão para número inteiro (int)

In [ ]:
# Solicitando a idade do usuário
idade_str = input("Digite a sua idade: ")

# Convertendo a idade para número inteiro
idade_int = int(idade_str)

# Realizando operações com o valor convertido
idade_ano_que_vem = idade_int + 1

# Exibindo o resultado
print("No próximo ano, você terá", idade_ano_que_vem, "anos.")

Neste exemplo, o programa solicita a idade do usuário usando o comando "input" e armazena o valor digitado na variável "idade_str", que é tratada como uma string. Em seguida, usamos a função "int()" para converter essa string em um número inteiro e armazenamos o resultado na variável "idade_int". Dessa forma, podemos realizar operações matemáticas com esse valor e exibir o resultado na tela.

Exemplo 2: Conversão para número de ponto flutuante (float)

In [ ]:
# Solicitando o peso do usuário
peso_str = input("Digite o seu peso (em kg): ")

# Convertendo o peso para número de ponto flutuante
peso_float = float(peso_str)

# Calculando o peso na Lua (16.5% do peso na Terra)
peso_lua = peso_float * 0.165

# Exibindo o resultado
print("Seu peso na Lua seria de", peso_lua, "kg.")

Neste exemplo, o programa solicita o peso do usuário usando o comando "input" e armazena o valor digitado na variável "peso_str", que é tratada como uma string. Em seguida, usamos a função "float()" para converter essa string em um número de ponto flutuante (número decimal) e armazenamos o resultado na variável "peso_float". Assim, podemos realizar cálculos matemáticos envolvendo esse valor e exibir o resultado na tela.

Lembre-se que, ao realizar a conversão de tipos, é importante garantir que o valor digitado pelo usuário seja compatível com o tipo que você deseja converter. Caso contrário, o programa pode gerar um erro durante a execução. É sempre uma boa prática adicionar tratamentos de exceções para lidar com essas situações, mas para fins de exemplo aqui, vamos considerar que o usuário insere valores válidos.

*Nota*: É importante destacar que, em aplicações acadêmicas, o uso do "input" pode ser limitado ou pouco utilizado, especialmente em ambientes onde a interação direta com o usuário não é uma prioridade.Em muitas aplicações acadêmicas, o foco está na análise de dados, algoritmos complexos ou modelagem teórica, onde a entrada de dados é frequentemente feita através de arquivos ou parâmetros definidos previamente. Essa abordagem é preferível para evitar inconsistências ou erros de digitação que podem ocorrer quando o usuário insere dados manualmente.

#### Exercícios

1 - Peça o nome do usuário e dê as boas vindas

In [ ]:
# Solicitando o nome do usuário
nome = input("Digite o seu nome: ")

# Exibindo o nome na tela
print("Olá, " + nome + "! Bem-vindo ao nosso programa.")

Digite o seu nome: Mel
Olá, Mel! Bem-vindo ao nosso programa.

2 - Peça a idade do usuário e descubra o ano em que ele nasceu

In [ ]:
# Solicitando a idade do usuário
idade = input("Digite sua idade: ")

#Convertendo a idade para número inteiro
idade_int = int(idade)

#Descobrindo o ano em que nasceu
anoatual = 2024
anonascuxx = anoatual - idade_int

#Exibindo a resposta
print(anonascuxx)

Digite sua idade: 22
2002

3 - Faça um programa que peça a base e a altura de um triângulo e calcule a área (Area do tríangulo = b.h/2)

In [ ]:
# Solicitando a altura do triângulo
altura_str = input("Digite a altura do triângulo (em cm): ")

# Convertendo a altura para número de ponto flutuante
altura_float = float(altura_str)

# Solicitando a base do triângulo
base_str = input("Digite a base do triângulo (em cm): ")

# Convertendo a base para número de ponto flutuante
base_float = float(base_str)

# Calculando a área do triângulo ((b*h)/2)
area = (altura_float * base_float)/2

# Exibindo o resultado
print("A área do triângulo", area, "cm.")

Digite a altura do triângulo (em cm): 3
Digite a base do triângulo (em cm): 4
A área do triângulo 6.0 cm.

4 - Peça o ano de nascimento do usuário e calcule sua idade

In [ ]:
# Solicitando o ano de nascimento do usuário
anonascusuario = input("Digite seu ano de nascimento: ")

#Convertendo o ano para número inteiro
ano_int = int(anonascusuario)

#Descobrindo a idade do usuário
anoatual = 2024
idadeuxx = anoatual - ano_int

#Exibindo a resposta
print(idadeuxx)

Digite seu ano de nascimento: 2002
22

### 5. Variáveis

Você talvez tenha percebido que já mencionamos o nome "variável" algumas vezes ao longo do script mas não elaboramos muito sobre o que ela é. Uma variável em Python é como uma caixa que você pode usar para armazenar um valor, como um número ou um pedaço de texto. Você pode dar um nome para essa caixa e usar o nome para se referir ao valor armazenado nela mais tarde. Por exemplo, você pode criar uma variável chamada "idade" e atribuir um valor a ela, como 20:

In [ ]:
idade = 20

idade

Agora, sempre que você usar a palavra "idade" em seu código, o valor 20 será usado. Você também pode alterar o valor armazenado em uma variável simplesmente atribuindo um novo valor a ela, como:

In [ ]:
idade = 25

idade

Agora, quando você usa a variável "idade" em seu código, o valor 25 será usado em vez de 20. Variáveis são uma parte fundamental da programação em Python e são usadas para armazenar dados temporários ou permanentes em seu programa. Por exemplo, se você estivesse trabalhando em um banco de dados, você poderia se deparar com as seguintes informações.

In [ ]:
# Informações do usuário

nome = "João"
idade = 26
altura = 1.76
ano_nascimento = 2024-26
curso = "Ciências Sociais"

Pense nos possíveis tipos de cada variável. As variáveis númericas são iguais? Que outras variáveis podemos gerar a partir dos valores observados?

### 6. Tipos de Dados

Nas seções acima, mencionamos brevemente alguns tipos de dados como strings e números. No entanto, esta não é toda a história. A seguir, temos os principais tipos de dados do Python;

*Strings*

Como dito acima, string é qualquer tipo de caracteres (números ou letras) envoltos por aspas.

In [ ]:
string1 = "Isso é uma string"

print(string1)
print(type(string1)) # Type permite descobrir o tipo de uma variável

In [ ]:
# Um número ou sequência de números com aspas também é uma string

string2 = "1sso t4mb3m é um4 str1ng"

print(string2)
print(type(string2))

*Inteiros (int)*

Int é um tipo de variável númerico. Nesse tipo de dados, só existem números inteiros. Isto é, sem números decimais ou "quebrados".

In [ ]:
print(10, type(10))

In [ ]:
print(-10, type(-10))

In [ ]:
print(0, type(0))

In [ ]:
# Tome sempre cuidado com as aspas

print("10" == int)

*floats*

Como é sabido, nem todos os números são inteiros. Para isso, temos a classe float, que são os números decimais, quebrados, etc.

In [ ]:
print(12.34, type(12.34)) # Nota: O decimal no Python é com '.', não com ','

In [ ]:
print(4.2, type(4.2))

*Booleanos*

Por fim, temos os valores booleanos, que são valores lógicos. São Verdadeiros (TRUE) ou Falsos (FALSE). Geralmente utilizados em comparações

In [ ]:
booleano = (10==10)

print(booleano, type(booleano))

In [ ]:
booleano2 = (0==1)

print(booleano2, type(booleano2))

In [ ]:
booleano3 = (0==0)

print(booleano3)

Listas vazias são consideradas falsas

In [ ]:
print(bool(''))

#### Exercícios

1 - Crie uma variável str e a imprima junto do seu tipo

In [ ]:
string1 = "Isso é uma string"

print(string1)
print(type(string1)) # Type permite descobrir o tipo de uma variável

Isso é uma string
<class 'str'>

2 - Peça ao usuário que digite sua idade e verifique o tipo de dado resultante desse input.

In [ ]:
# Solicitando a idade
idade_str = input("Digite a sua idade (em anos): ")

print(idade_str)
print(type(idade_str)) # Type permite descobrir o tipo de uma variável

Digite a sua idade (em anos): 22
22
<class 'str'>

3 - Qual o tipo das seguintes variáveis?

In [ ]:
# A)

x = "12.52"
print(type(x))

<class 'str'>

In [ ]:
# B)

y = "José tem 53 anos"
print(type(y))

<class 'str'>

In [ ]:
# C)

z = 17.07
print(type(z))

<class 'float'>

In [ ]:
# D)

a = 3
print(type(a))

<class 'int'>

4 - Crie uma variável de tipo booleano (imprima o tipo da variável)

In [ ]:
booleano = (2==2)
print(booleano, type(booleano))

True <class 'bool'>

## 7. Operações Aritméticas e Conversões

Você também pode utilizar o python como uma calculadora. Nesta seção, vamos mostrar as operações mais comuns.

*Operadores Aritméticos*

Soma -> +

Subtração -> -

Multiplicação -> *

Divisão -> /

Divisão Inteira (resultado arredondado) -> //

Potenciação (elevar à) -> **

% -> Resto da divisão de um número por outro

In [ ]:
# Vamos começar pelos números inteiros

soma = 1 + 1

print(soma)

In [ ]:
mult = 7*8

mult # uma forma alternativa de imprimir uma variável é colocá-la diretamente.

In [ ]:
sub = 50-10

sub

In [ ]:
div = 64/10

print(div, type(div))

In [ ]:
pot = 2**4

print(pot, type(pot))

Operações aritméticas também funcionam com strings. Porém, com uma lógica diferente. Você pode multiplicar uma string por um valor inteiro

In [ ]:
print("Olá"*10)

Você pode concatenar duas strings

In [ ]:
x = "olá"
y = " mundo"

print(x+y)

No entanto, não é possível multiplicar uma string por outra

In [ ]:
print("Olá"*"Mundo")

Nem somar uma string e um int

In [ ]:
print(5+"10")

Operações funcionam da mesma forma que os int para os floats

In [ ]:
print(5.4*6.7)

In [ ]:
# Se quiser arredondar o valor final

print(round((5.4*6.7), 2))

In [ ]:
# Numa maneira de mais fácil visualização

mult2 = 5.4*6.7

print(round(mult2, 2))

Se tiver dúvidas sobre algum comando ou código, lembre-se de sempre consultar a [documentação](https://docs.python.org/pt-br/3/library/functions.html?highlight=round#round) do python.

*Conversões*

Para converter uma variável de um tipo para outro, você pode utilizar alguns comandos. Se, por exemplo, você tiver um número em formato de texto, pode transformá-lo em int pelo seguinte código

In [ ]:
# str para int

valor = "57"

numerico = int(valor)

print(numerico, type(numerico))

Outras conversões são possíveis

In [ ]:
#float to int
float1 = 57.8

inteiro = int(float1)

print(inteiro, type(inteiro))

In [ ]:
# int para float

inteiro2 = 6

float2 = float(inteiro2)

print(float2, type(float2))

Também pode converter de número para texto (str)

In [ ]:
inteiro3 = 12356

string1 = str(inteiro3)

print(string1, type(string1))

In [ ]:
float3 = 27.805432054032

string2 = str(float3)

print(string2, type(string2))

#### Exercícios

1 - Peça dois números ao usuário e faça a soma destes

In [ ]:
# Solicitando primeiro número
número_1 = input("Digite um número: ")

# Convertendo o primeiro para número de ponto flutuante
número_1_float = float(número_1)

# Solicitando segundo número
número_2 = input("Digite um número: ")

# Convertendo o segundo para número de ponto flutuante
número_2_float = float(número_2)

# Fazendo a soma dos dois números:
soma = número_1_float + número_2_float

#Exibindo o resultado
print(soma)

Digite um número: 1
Digite um número: 1
2.0

2 - Imprima o seguinte caractere 50 vezes

In [ ]:
caractere = "#"

print("#"*50)

##################################################

3 - Peça dois números ao usuário e calcule o resultado da divisão destes

In [ ]:
# Solicitando primeiro número
número_1 = input("Digite um número: ")

# Convertendo o primeiro para número de ponto flutuante
número_1_float = float(número_1)

# Solicitando segundo número
número_2 = input("Digite um número: ")

# Convertendo o segundo para número de ponto flutuante
número_2_float = float(número_2)

# Fazendo a divisão dos dois números:
divisão = número_1_float / número_2_float

#Exibindo o resultado
print(divisão)

Digite um número: 4
Digite um número: 2
2.0

4 - Peça dois números ao usuário e calcule o resultado da potência destes

In [ ]:
# Solicitando primeiro número
número_1 = input("Digite um número: ")

# Convertendo o primeiro para número de ponto flutuante
número_1_float = float(número_1)

# Solicitando segundo número
número_2 = input("Digite um número: ")

# Convertendo o segundo para número de ponto flutuante
número_2_float = float(número_2)

# Fazendo a potência dos dois números:
potência = número_1_float ** número_2_float

#Exibindo o resultado
print(potência)

Digite um número: 5
Digite um número: 2
25.0

5 - Transforme o seguinte str em float e calcule o seu valor quadrado, apresentando o valor final em no máximo duas casas decimais

In [ ]:
numstr = "42.24"

#Transformando str em float
numstr_1 = float(numstr)
print (numstr_1, type(numstr_1))

#Calculando o quadrado do float
print(round((numstr_1** 2), 2))

42.24 <class 'float'>
1784.22

## 8. Formatação de strings

Digamos que alguém te peça para jogar todas essas informações em uma única frase. Há alguns modos de formatar a mesma informação.

In [ ]:
# Básico

print(nome, "tem", idade, "anos e", altura, "m de altura.", "Nascido em", ano_nascimento, ",", "atualmente está no curso de", curso)

No entanto, essa forma é um pouco truncada e pode dificultar a leitura do código. Um modo alternativo é usar f-strings

In [ ]:
# f-string


print(f'{nome} tem {idade} anos e {altura}m de altura. Nascido em {ano_nascimento}, atualmente está no curso de {curso}')

Desse modo, tanto a escrita quanto a leitura do código são mais fluídas. Outra vantagem é a possibilidade de arredondar os valores dentro do print

In [ ]:
bolsa = 875.164

print(f'{nome} recebe R${bolsa:.2f} como auxílio moradia')

Outra possibilidade é utilizar chaves vazias e indicar as variáveis e se vai arredondar ou não ao final utilizando ".format"

In [ ]:
print('{} recebe R${} como auxílio moradia'.format(nome, round(bolsa,2)))

Ao utilizar esse método, a ordem das variáveis tem que ser exatamente as dos colchetes. Para evitar problemas, pode utilizar algumas indicações

In [ ]:
print('{n} recebe R${b} como auxílio moradia'.format(b = round(bolsa,2), n = nome))

#### Exercícios

1 - Imprima as seguintes informações de um aluno utilizando o modo "básico" estabelecido acima.

In [ ]:
# Informações do aluno

nome = "Matheus"
idade = 23
ano_nascimento = 2023 - idade
curso = "Química"
bolsa = 907.22435

In [ ]:
# Insira seu código aqui

nome = "Matheus"
idade = 23
ano_nascimento = 2023 - idade
curso = "Química"
bolsa = 907.22435

print(nome, "tem", idade , "anos.", "Nascido em", ano_nascimento,", atualmente está no curso de", curso , "e recebe R$", bolsa, "como bolsa.")

Matheus tem 23 anos. Nascido em 2000 , atualmente está no curso de Química e recebe R$ 907.22435 como bolsa.

2 - Imprima as mesmas informações usando f strings

In [ ]:
# F-string

# Dados:
nome = "Matheus"
idade = 23
ano_nascimento = 2023 - idade
curso = "Química"
bolsa = 907.22435

print(f'{nome} tem {idade} anos. Nascido em {ano_nascimento}, atualmente está no curso de {curso} e recebe R$ {bolsa} como bolsa.')

Matheus tem 23 anos. Nascido em 2000, atualmente está no curso de Química e recebe R$ 907.22435 como bolsa.

3 - Imprima as mesmas informações usando chaves

In [ ]:
#{}

# Dados:
nome = "Matheus"
idade = 23
ano_nascimento = 2023 - idade
curso = "Química"
bolsa = 907.22435

print('{n} tem {i} anos. Nascido em {a}, atualmente está no curso de {c} e recebe R$ {b} como bolsa.'.format (n = nome, i = idade, a = ano_nascimento, c = curso, b = bolsa))

Matheus tem 23 anos. Nascido em 2000, atualmente está no curso de Química e recebe R$ 907.22435 como bolsa.

4 - Por meio das f strings, imprima o valor da bolsa do aluno usando apenas uma casa decimal

In [ ]:
#{} e casa decimal

# Dados:
nome = "Matheus"
idade = 23
ano_nascimento = 2023 - idade
curso = "Química"
bolsa = 907.22435

print('{n} tem {i} anos. Nascido em {a}, atualmente está no curso de {c} e recebe R$ {b} como bolsa.'.format (n = nome, i = idade, a = ano_nascimento, c = curso, b = round(bolsa,1)))

Matheus tem 23 anos. Nascido em 2000, atualmente está no curso de Química e recebe R$ 907.2 como bolsa.

5 - Peça a idade, curso e nome de um usuário e imprima essas informações utilizando f-strings

In [ ]:
# Solicitando a idade do usuário:
idade = input("Digite sua idade (em anos): ")

# Solicitando o curso do usuário:
curso = input("Digite seu curso: ")

# Solicitando o nome do usuário:
nome = input("Digite seu nome: ")

#Exibindo o resultado
print(f'Seu nome é {nome}. Atualmente, você tem {idade} anos de idade e você está matriculado(a) no curso de {curso}.')

Digite sua idade (em anos): 22
Digite seu curso: Ciências Sociais
Digite seu nome: Anna
Seu nome é Anna. Atualmente, você tem 22 anos de idade e você está matriculado(a) no curso de Ciências Sociais .

## 9. Estruturas de Dados em Python

*Listas*: Uma lista é uma coleção ordenada e mutável de elementos. Os elementos de uma lista podem ser de diferentes tipos, como strings, inteiros, booleanos e até outras listas. As listas são representadas entre colchetes e os elementos são separados por vírgulas. Exemplo: minha_lista = [1, 2, 'três', True].

*Tuplas*: Uma tupla é semelhante a uma lista, mas é imutável, o que significa que não pode ser modificada após a criação. As tuplas são representadas entre parênteses e os elementos são separados por vírgulas. Exemplo: minha_tupla = (1, 2, 'três', True).

*Dicionários*: Um dicionário é uma coleção de pares de chave-valor, onde cada valor é acessado por uma chave exclusiva. Os dicionários são representados entre chaves e cada par de chave-valor é separado por vírgulas. Exemplo: meu_dicionario = {'nome': 'João', 'idade': 30, 'cidade': 'São Paulo'}.

*Conjuntos*: Um conjunto é uma coleção não ordenada e mutável de elementos exclusivos. Os conjuntos são representados entre chaves e os elementos são separados por vírgulas. Exemplo: meu_conjunto = {1, 2, 3, 4, 5}.

In [ ]:
# Exemplo de listas

anos = [1999,2000,2001,2002]
países = ["China", "EUA", "Brasil", "Rússia"]
IDH = [0.802, 0.789, 0.782, 0.750]

# No entanto, listas não precisam que os dados sejam do mesmo tipo (str, int, float) e podem existir listas dentro de listas (nested lists).

lista_mista = [2007,"Noruega",0.886,"etc."]

nested_list = [["Brasil", 0.782],["China", 0.802]]

In [ ]:
# Exemplo de tuplas

anos = (1999,2000,2001,2002)
países = ("China", "EUA", "Brasil", "Rússia")
IDH = (0.802, 0.789, 0.782, 0.750)

tupla_mista = (2007,"Noruega",0.886,"etc.")

nested_tuple = (("Brasil", 0.782),("China", 0.802))

type(nested_tuple)

In [ ]:
# Exemplo de dicionários

# Criando um dicionário
meu_dicionario = {'nome': 'João', 'idade': 30, 'cidade': 'São Paulo'}

Dicionários já parecem um pouco mais com a estrutura de planilhas que conhecemos. Um conjunto é uma coleção de elementos únicos, sem ordem definida. Isso significa que cada elemento de um conjunto é único, e não há repetições. Os conjuntos são muito úteis para realizar operações matemáticas, como união, interseção e diferença.

Em Python, os conjuntos são representados por chaves {} ou pela função set(). Por exemplo:

In [ ]:
# Criando um conjunto com chaves
meu_conjunto = {1, 2, 3, 4}

# Criando um conjunto com a função set()
outro_conjunto = set([3, 4, 5, 6])

É importante notar que os conjuntos não garantem a ordem dos elementos. Portanto, se você imprimir um conjunto, os elementos podem aparecer em uma ordem diferente da ordem em que foram adicionados.

#### Exercícios

1 - Crie uma lista com os anos da pandemia de Covid-19

In [ ]:
#Criando a lista
anos_da_pandemia = [2020, 2021]

2 - Crie uma tupla com 5 países latino-americanos

In [ ]:
#Criando a tupla
países_latino_americanos = ("Colômbia", "Costa Rica", "Equador", "Paraguai", "Peru")

3 - Peça o nome e idade do usuário e crie um dicionário com esses valores

In [ ]:
#Pedindo o nome do usuário
nome = input("Digite o seu nome: ")

#Pedindo a idade do usuário
idade = input("Digite sua idade (em números): ")

#Criando um dicionário com as informações
dic = {'nome' : nome, 'idade' : idade}

Digite o seu nome: Mel
Digite sua idade (em números): 22

4 - Crie um conjunto com diversos objetos utilizando a função set()

In [ ]:
#Criando o conjunto
nosso_conjunto = set([11, 22, 33, 44, 55, 66, 77, 88, 99, 110])

## Conclusão

Neste laboratório, o intuito era de o de introduzir os comandos, tipos de dados e operações básicas que existem em Python. Na próxima aula, discutiremos um pouco mais sobre como trabalhar com as estruturas de dados citadas acima (listas, tuplas, etc.), operadores condicionais (if, else, elif) e alguns operadores de repetição (loop, while).